@CHARSET "UTF-8";

body *{
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
}

body{
	opacity:0.0;
}

@media (min-width: 1200px){
	.navbar-wrapper > .container, 
	.slogan-wrapper > .container, 
	.footer > .container, 
	.footer-info-wrapper > .container{
		width: 100%;
		padding:0px;
	}
}

.navbar-wrapper  li a{
	background:#fff !important;
	color:#333 !important;
	font-size:18px;
}

.navbar{
	margin:0px 0px;
	padding:5px 0px;
}

.navbar-wrapper .icon-bar{
	border:1px solid #333;
}

.nav-hs{
	border-top:2px solid #c9141d;
	border-bottom:none;
	background:#fff;
}

.nav-top{
	background:#f5f1f0 !important;
	height:65px;
	padding-top:8px;
	text-align:center;
}

.tel-info{
	font-size:16px;
	font-weight:normal;
	width:115px;
	line-height:18px;
	height:32px;
	vertical-align:middle;
}

div.hero{
	width:100%;
	margin:0px;
	padding:0px;	
}

div.hero > div{
	overflow:hidden;
	padding:0px;
}

div.hero img{
	margin:0px auto;
	display:block;
	width:100%;
}

div.product  img{
	width:100%;
}

div.product .product-banner{
	color:#970600;
	font-size:22px;
	font-weight:normal;
	height:20px;
	line-height:48px;
	white-space:nowrap;
}

.left-line, .right-line{
	padding:0px;
}	

@media (max-width: 1207px){
	.left-line, .right-line{
		display:none;
	}	
}

@media (max-width: 1207px){
	.left-line, .right-line{
		display:none;
	}	
}

ul.products-card, ul.reasons-card{
		overflow:hidden;
		margin:8px 0px;
		padding:0px;
		text-align: center;	
	}
	
	
ul.products-card li, ul.reasons-card li{
	list-style:none;
	float:left;
	margin: 2px;
	padding:4px 8px;
	border:1px solid #f4e9e4;
	-moz-border-radius: 3px;
 		-webkit-border-radius: 3px;
 		border-radius: 3px;
}

@media (min-width: 768px){
	ul.products-card, ul.reasons-card{
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;	
	}
	
	ul.products-card li, ul.reasons-card li{
		display: inline-block;
		-webkit-flex: 1 0;	
		flex: 1 0;
	}
}

@media (max-width: 1200px){
	div.footer-info-wrapper > div.container, div.navbar-wrapper > .container{
		padding:0px !important;
		margin:0px !important;
		width:100%;
	}
	
}

@media (max-width: 768px){
	ul.reasons-card li{
		width:50%;
	}
	ul.reasons-card li.even{
		margin-right:-50%;
	}
	
	ul.products-card{
		padding:2px;
	}
	
	ul.products-card li{
		width:100%;
	}
	
	div.nav-top{
		padding-top:28px;
		padding-bottom:52px;
	}
	
	ul.right-top-ul{
		margin-right:0px !important;
		margin-top:-28px !important;
	}
}

ul.reasons-card{
	margin:0px;
}

ul.reasons-card li{
	margin:1px;
	padding:0px;
}

ul.reasons-card li img{
	width:100%;
}

ul.products-card li .btn{
	padding:8px 16px;
}

ul.products-card li:hover, ul.products-card li:hover h3 {
	background:#a10500;
	color:#fff;
	cursor:pointer;
}

ul.products-card li:hover button.btn{
	color:#bc0501;
}

ul.products-card h3{
	text-align:left;
	color:#bc0501;
}

ul.products-card p{
	text-align:left;
}

.slogan-wrapper > .container > .wrapper{
	height:154px;
	background:#ececec;
	margin:4px 0px;
}

div.title-banner{
	text-align:center;
	margin-bottom:12px;
	background:url('../images/hr.jpg') no-repeat bottom;
}

.reasons label{
	height:60px;
	line-height:60px;
	color:#970600;
	font-size:22px;
	font-weight:normal;
	white-space:nowrap;
	text-align:center;
}

hr.hualifengexian{
	border-top:2px solid #fac671;
	border-bottom:1px solid #fff45c;
}

.color-card{
	border:1px solid #eee;
	height:106px;
	width:100%;
	margin:8px 0px 12px 0px;
	line-height:106px;
	background:#ededed;
	
}

.color-card label{
	font-weight:800;
	font-size:22px;
	float:right;
	padding-right:24px;
	
}

.color-card img{
	width:80px;
	display:inline-block;
	margin-left:24px;
	-moz-border-radius: 12px;
  	-webkit-border-radius: 12px;
  	border-radius: 12px;
}

.color-card-wrapper{
	padding:1px;
}

.footer-info{
	padding:0px;
	height:auto;
	background:#374754;
	overflow:hidden;
}

.footer-info-wrapper{
	margin-top:-20px;
}

ul.footer-links{
	display:block;
	margin:0px auto;
	text-align:center;
	padding-left:0px;
}

ul.footer-links li{
	margin-left:-2px;
	list-style:none;
	margin-top:25px;
	font-size:16px;
	padding:2px 10px;
	color:#fff;
	display:inline-block;
}

ul.footer-links li a{
	color:#fff;
	padding-left:5px;
}

ul.right-top-ul{
	position:absolute;
	top:0px;
	right:0px;
	margin:2px 35px;
	color: #686868;
}

ul.right-top-ul li{
	list-style:none;
	float:left;
	padding:0px 4px;
	background:#e8e8e8;
	
}

ul.right-top-ul > li > a{
	color: #686868 !important;
	background:#e8e8e8 !important;
	font-size:14px;
}


span.footer-copy{
	max-width:600px;
	display:block;
	margin:0px auto;
	text-align:left;
	padding-left:21px;
}

.copy-info{
	text-align:center;
	margin-top:8px;
	color:#999999;
	margin-bottom:12px;
}

.container.footer-wrapper{
	position:relative;
	padding:0px;
}

.footer-left, .footer-right{
	position:absolute;
	top:15px;
}

.footer-left{
	height:28px;
	left:0px;
}

.footer-right{
	height:52px;
	right:0px;
}

@media (max-width: 1020px){
	.footer-left, .footer-right{
		position:static;
		margin-top:15px;
		margin-left:35px;
	}
}

.menu, .menu_items{
	list-style:none;
	width:100%;
	font-size:18px;
	padding-left:0px;
	background:#f7f7f7;
	
}

.menu_items > li > a{
	padding-left:23px;
}

.menu_items > li.active{
	background:#fff;
	border-left:3px solid #1f8657;
}

.menu_items > li{
	border-bottom:1px solid #e2e2e2;
}

.menu > li>a{
	padding-left:23px;
	background: url(../images/menu_hover.png) 0px -12px repeat-x;
}

.menu a{
	height:50px;
	line-height:50px;
	color:#888989;
	font-size:16px;
	font-weight:bold;
}

.menu > li > a{
	display:block;
	height:50px;
	width:100%;	
}

.menu > li > a.menu_head{
	background:url(../images/menu_head.png) 0px 0px repeat-x;
	color:#fff;
}

.detail-content{
	padding:0px 0px 20px 0px;
}

.detail-left-nav{
	float:left;
}

.detail-left-nav ul, .detail-right-nav ul{
	list-style:none;
	padding:15px 0px;
	color:#7b7b7b;
}

.detail-left-nav ul li, .detail-right-nav ul li{
	float:left;
}

.detail-left-nav ul li a, .detail-right-nav ul li a{
	padding:0px 12px;
	color:#7b7b7b;
}

.detail-left-nav ul li:nth-child(1) > a, .detail-right-nav ul li:nth-child(1) > a{
	padding:0px 0px;
}

.detail-right-nav{
	float:right;
	
}

.detail-wrapper{
	background:#ededed;
}