<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>参冠海参</title>
	<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/app.css" rel="stylesheet">
  </head>
  <body>
  	<div class="navbar-wrapper">
		<div class="nav-top">
			<img src="../images/logo.png" height="50px;" style="margin:0px auto;">
			<img src="../images/logo_label.png" height="50px;">
		</div>  		
		<div class="container" >
			<nav class="navbar navbar-inverse nav-hs navbar-static-top">
			 	<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">首页</a></li>
							<li class="active"><a href="#">放心海参</a></li>
							<li class="active"><a href="#">在线商城</a></li>
							<li class="active"><a href="#">经销加盟</a></li>
							<li class="active"><a href="#">代工批发</a></li>
							<li class="active"><a href="#">关于乾洋</a></li>
							<li class="active"><a href="#">海参百科</a></li>
						</ul>
						<div style="float:right;height:50px;line-height:50px;">
							<img src="../images/tel.png" width="45px;">
							<label class="tel-info" >
								全国服务热线 400-999-3663
							</label>
						</div>
					</div>
				</div>
			</nav>
		</div>
    </div>
    <div class="container hero">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    		<img src="../images/hero.jpg">
    	</div>
    </div>	
    <div class="container product">
    	<div class="row">
    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 left-line" >
	    		<img src="../images/l_left.png">
	    	</div>
	    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 ">
	    		<div style="text-align:center;">
	    			<label class="product-banner">专业品质&nbsp;放心食用</label>
	    		</div>
	    	</div>
	    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 right-line">
	    		<img src="../images/l_right.png" >
	    	</div>
    	</div>
    	<div class="row">
    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    			<ul class="products-card">
    				<li>
    					<img src="../images/product1.png">
    					<h3>冷冻海参</h3>
    					<p>
    						夜宵形式多样, 多种美味佳肴。合理, 健康的夜宵可以帮助回复体力和精力。
    					</p>
    					<button  class="btn">查看更多 >></button>
    				</li>
    				<li>
    					<img src="../images/product1.png">
    					<h3>冷冻海参</h3>
    					<p>
    						夜宵形式多样, 多种美味佳肴。合理, 健康的夜宵可以帮助回复体力和精力。
    					</p>
    					<button  class="btn">查看更多 >></button>
    				</li>
    				<li>
    					<img src="../images/product1.png">
    					<h3>冷冻海参</h3>
    					<p>
    						夜宵形式多样, 多种美味佳肴。合理, 健康的夜宵可以帮助回复体力和精力。
    					</p>
    					<button  class="btn">查看更多 >></button>
    				</li>
    				<li>
    					<img src="../images/product1.png">
    					<h3>冷冻海参</h3>
    					<p>
    						夜宵形式多样, 多种美味佳肴。合理, 健康的夜宵可以帮助回复体力和精力。
    					</p>
    					<button  class="btn">查看更多 >></button>
    				</li>
    			</ul>
    		</div>
    	</div>
    </div>
    <div class="slogan-wrapper">
    	<div class="container"> 
    		<div class="wrapper">
    			<div class="container" style="height:154px;">
    				<img src="../images/us.png" height="100%">
    			</div>
    		</div>
    	</div>
    </div>
    <div class="container reasons">
    	<div class="row">
    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
	    		<div class="title-banner">
	    			<label>选择参冠的六大理由</label>
	    		</div>
	    	</div>
    	</div>
    </div>
    <div class="container reasons-card">
    	<div class="row">
   			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   				<ul class="reasons-card">
    				<li>
    					<img src="../images/reason1.jpg">
    				</li>
    				<li>
    					<img src="../images/reason2.jpg">
    				</li>
    				<li>
    					<img src="../images/reason3.jpg">
    				</li>
    				<li>
    					<img src="../images/reason4.jpg">
    				</li>
    				<li>
    					<img src="../images/reason5.jpg">
    				</li>
    				<li>
    					<img src="../images/reason6.jpg">
    				</li>
    			</ul>
    		</div>
    	</div>
    </div>
    <hr class="hualifengexian"/>
   	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 color-card-wrapper">
			<div class="color-card">
				<img src="../images/footericon1.png"><label>我要开分销店</label>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 color-card-wrapper">
			<div class="color-card">
				<img src="../images/footericon1.png"><label>移动微商城</label>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 color-card-wrapper">
			<div class="color-card">
				<img src="../images/footericon1.png"><label>淘宝旗舰店</label>
			</div>
		</div>
   	</div>
    <hr class="hualifengexian"/>
    <div class="footer-info-wrapper">
    	<div class="container">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-info">
    		<div class="footer-info" style="height:137px;background:#374754;">
    			
    		</div>
    	</div>
    </div>
    </div>
  </body>
  <script src="../bower_components/requirejs/require.js" data-main="../js/main.js"></script>
</html>